# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
backend/.env
frontend/.env

# Angular build
frontend/dist/
frontend/.angular/
frontend/.cache/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Backend database (MUHIM!)
backend/*.db
backend/*.sqlite

# Misc
coverage/